@import "../variables";

// Drawer navigation
.phsc-nav {
  background: $black;
  background-color: $black;
  // Links
  .mdl-navigation__link {
    color: $white;
    font-size: 16px;
    font-size: 1em;
    // Mobile
    @media (max-width: 600px) {
      font-size: 18px;
      font-size: 1.125em;
    }

    &:hover {
      background: $white !important;
      background-color: $white !important;
      color: $black !important;
    }

    // Group titles
    &.mdl-typography--text-uppercase {
      &.nohover {
        background: $gold;
        color: $black;
        font-weight: bolder;
        pointer-events: none;
      }
    }
  }
}
