@import "../variables";

// Drawer toggle
.mdl-layout__header .mdl-layout__drawer-button .material-icons {
  color: $white;
}

// Drawer content
.phsc-drawer {
  background: $black;
  background-color: $black;

  .mdl-layout__drawer {
    padding: 0 0 2em;
  }
}
