@import "../variables";

// Main content
.phsc-main {
  background: $black;
  background-color: $black;

  // Slogan desktop
  h1 {
    color: $white;
    font-size: 48px;
    font-size: 3em;
    padding-top: 1em;
    // Mobile
    @media (max-width: 600px) {
      font-size: 28px;
      font-size: 1.75em;
      padding-top: 0.5em;
    }
  }

  // Background image
  &__background {
    background-color: $black;
  }
  // Grid
  .mdl-grid {
    min-height: 400px;
    padding: 0 3em 6em;
  }
}
