@import "../variables";

// Square card
.card-square {
  &.mdl-card {
    height: 320px;
  }
  // Title
  > .mdl-card__title {
    color: $white;
    // Canvas image
    &.canvas {
      background: url('../images/icon/canvas.svg') bottom right 5% no-repeat $gold;
      background-size: 40% auto;
    }
    // Email image
    &.email {
      background: url('../images/icon/email.svg') bottom right 5% no-repeat $gold;
      background-size: 40% auto;
    }
    // Office 365
    &.office365 {
      background: url('../images/icon/office365.svg') bottom right 5% no-repeat $gold;
      background-size: 40% auto;
    }
    // Scholarships image
    &.scholarships {
      background: url('../images/icon/scholarships.svg') bottom right 5% no-repeat $gold;
      background-size: 40% auto;
    }
    // Cabinet documents
    &.cabinet {
      background: url('../images/icon/cabinet.svg') bottom right 5% no-repeat $gold;
      background-size: 40% auto;
    }
  }
  // Text
  .mdl-card__supporting-text {
    p {
      line-height: initial;
      min-height: 6em;
      padding: 0;
    }
  }
  // Link button
  a.mdl-button--colored {
    color: $gold;
  }
}

// Media queries
// Tablet (Landscape)
@media only screen and (min-width:769px) and (max-width:1024px) {
  .card-square .mdl-card__supporting-text p {
    font-size: 15px;
    font-size: 0.938em;
  }
}
// Tablet (Portrait)
@media only screen and (min-width:581px) and (max-width:768px) {
  .card-square .mdl-card__supporting-text p {
    font-size: 15px;
    font-size: 0.938em;
  }
}
// Phone (Landscape)
@media only screen and (min-width:321px) and (max-width:580px) {
  .card-square .mdl-card__supporting-text p {
    font-size: 16px;
    font-size: 1em;
  }
}
// Phone (Portrait)
@media only screen and (max-width:320px) {
  .card-square .mdl-card__supporting-text p {
    font-size: 16px;
    font-size: 1em;
  }
}

